<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template is Working</title>
</head>
<body>

<h1>Welcome to the text Analyzer. Enter your Text</h1>

<!--method get is needed to submit the form-->

<form action='/analyze' method='get'>

    <textarea name='text' style='margin: 0px; width: 720px; height: 90px;'></textarea><br>

    <input type='checkbox' name="removepunc"> Remove Punctuation <br>

    <button type="submit">Analyze Text</button>
</form>

</body>
</html>